/*? Whole Webpage */
* {
  font-size: 1rem;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/*? Navbar */
.NavText {
  font-family: "Noto Serif NP Hmong", serif;
  font-size: 1.2rem;
}

.NavBrand {
  font-family: "Noto Serif NP Hmong", serif;
  font-size: 2rem;
  font-weight: 700;
}

/* Link underline hover effect */
.CustomNavbar a {
  text-decoration: none;
  background: linear-gradient(
      to right,
      rgba(100, 200, 200, 1),
      rgba(100, 200, 200, 1)
    ),
    linear-gradient(
      to right,
      rgba(255, 0, 0, 1),
      rgba(255, 0, 180, 1),
      rgba(0, 100, 200, 1)
    );
  background-size: 100% 3px, 0 3px;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 420ms;
}
.CustomNavbar a:hover {
  background-size: 0 3px, 100% 3px;
}

/* Spacing between Nav Links */
.NavLink {
  margin-left: 2rem;
  margin-right: 0.5rem;
}

/*? Welcome */
.Welcome {
  margin-top: 2rem;
  margin-left: 10rem;
  margin-right: 10rem;
  margin-bottom: 2.5rem;
}

.WelcomeTitle {
  font-family: "Playfair Display", serif;
  font-style: italic;
}

/*? Description */
.Description {
  margin-top: 3rem;
}

.CardImage {
  /* padding-top: 2rem; */
  height: 53%;
  /* Center image */
  margin: 0 auto;
}

.CardTitle {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  margin-bottom: 2rem;
}

.CardText {
  font-family: "Montserrat", sans-serif;
}

/*? Carousel */
.CarouselText h5 {
  font-family: "Lato", sans-serif;
  font-size: 2.5rem;
  font-weight: lighter;
  /* Text Shadow */
  color: white;
  -webkit-text-stroke: 1px #f8f8f8;
  text-shadow: 0px 1px 4px #000000;
}

.CarouselText p {
  font-family: "Poppins", sans-serif;
  font-size: 0.9rem;
  /* Text Shadow */
  color: white;
  -webkit-text-stroke: 0.2px #f8f8f8;
  text-shadow: 0px 1px 4px #000000;
}

/*? Footer */
#footer {
  display: flex;
  margin-top: 10rem;
  background-color: black;
  color: white;
  border-top-left-radius: 40%;
  border-top-right-radius: 40%;
  height: 200px;
  justify-content: center;
}

#end-center-left {
  text-align: center;
  display: inline-block;
  padding-right: 200px;
  margin-top: 50px;
}

#end-center-right {
  display: inline-block;
  text-align: start;
  margin-top: 50px;
}

.img-1 {
  height: 50px;
  padding: 5px;
  margin: 15px;
  border-radius: 100%;
  margin-top: none;
}

#icons {
  display: flex;
  background: black;
  justify-content: center;
  height: 150px;
  margin-bottom: 0px;
}

#diet {
  margin-top: 70px;
}

.space {
  margin-top: 60px;
}

/* Heart Animation */
.enclose {
  /* margin: 50px;
  padding: 50px; */
  display: flex;
  margin-top: 10rem;
  justify-content: center;
  /* min-height: 92vh; */
  background: white;
}

.heart {
  height: 100px;
  width: 100px;
  background: red;
  position: relative;
  transform: rotate(-45deg);
  box-shadow: -10px 10px 90px red;
  animation: heart 0.6s linear infinite;
}

@keyframes heart {
  0% {
    transform: rotate(-45deg) scale(1);
  }
  80% {
    transform: rotate(-45deg) scale(0.9);
  }
  100% {
    transform: rotate(-45deg) scale(0.8);
  }
}

.heart::before {
  content: "";
  position: absolute;
  height: 100px;
  width: 100px;
  background: red;
  top: -55%;
  border-radius: 50px;
  box-shadow: -5px 5px 45px red;
}

.heart::after {
  content: "";
  position: absolute;
  height: 100px;
  width: 100px;
  background: red;
  right: -55%;
  border-radius: 50px;
  box-shadow: -5px 5px 45px red;
}

.WelcomeImage {
  float: right;
  width: 160px;
  margin-bottom: 5rem;
  margin-right: 8rem;
}

.NavLink:hover {
  transform: scale(1.1);
}

.WelcomePara {
  width: 36rem;
}
