/*? Whole Webpage */
* {
  font-size: 1rem;
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

/*? Navbar */
.NavText {
  font-family: "Noto Serif NP Hmong", serif;
  font-size: 1.2rem;
}

.NavBrand {
  font-family: "Noto Serif NP Hmong", serif;
  font-size: 2rem;
  font-weight: 700;
}

/* Link underline hover effect */
.CustomNavbar a {
  text-decoration: none;
  background: linear-gradient(
      to right,
      rgba(100, 200, 200, 1),
      rgba(100, 200, 200, 1)
    ),
    linear-gradient(
      to right,
      rgba(255, 0, 0, 1),
      rgba(255, 0, 180, 1),
      rgba(0, 100, 200, 1)
    );
  background-size: 100% 3px, 0 3px;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  transition: background-size 420ms;
}
.CustomNavbar a:hover {
  background-size: 0 3px, 100% 3px;
}

/* Spacing between Nav Links */
.NavLink {
  margin-left: 2rem;
  margin-right: 0.5rem;
}

/*? Welcome */
.Welcome {
  margin-top: 2rem;
  margin-left: 10rem;
  margin-right: 10rem;
  margin-bottom: 2.5rem;
}

.WelcomeTitle {
  font-family: "Playfair Display", serif;
  font-style: italic;
  /* Hover Animation */
  box-shadow: inset 0 0 0 0 #ffffff;
  color: #ffffff;
  margin: 0 -0.25rem;
  padding: 0 0.25rem;
  transition: color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

.WelcomeTitle:hover {
  box-shadow: inset 0 0 0 0 #ffffff;
  color: #a6f2ff;
}

/*? Description */
.Description {
  margin-top: 3rem;
}

.CardImage {
  /* padding-top: 2rem; */
  height: 53%;
  /* Center image */
  margin: 0 auto;
}

.CardTitle {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  margin-bottom: 2rem;
}

.CardText {
  font-family: "Montserrat", sans-serif;
}

/*? Carousel */
.CarouselText h5 {
  font-family: "Lato", sans-serif;
  font-size: 2.5rem;
  font-weight: lighter;
  /* Text Shadow */
  color: white;
  -webkit-text-stroke: 1px #f8f8f8;
  text-shadow: 0px 1px 4px #000000;
}

.CarouselText p {
  font-family: "Poppins", sans-serif;
  font-size: 0.9rem;
  /* Text Shadow */
  color: white;
  -webkit-text-stroke: 0.2px #f8f8f8;
  text-shadow: 0px 1px 4px #000000;
}

/*? Footer */
#footer {
  display: flex;
  margin-top: 10rem;
  background-color: black;
  color: white;
  border-top-left-radius: 40%;
  border-top-right-radius: 40%;
  height: 200px;
  justify-content: center;
}

#end-center-left {
  text-align: center;
  display: inline-block;
  padding-right: 200px;
  margin-top: 50px;
}

#end-center-right {
  display: inline-block;
  text-align: start;
  margin-top: 50px;
}

.img-1 {
  height: 50px;
  padding: 5px;
  margin: 15px;
  border-radius: 100%;
  margin-top: none;
}

#icons {
  display: flex;
  background: black;
  justify-content: center;
  height: 150px;
  margin-bottom: 0px;
}

#diet {
  margin-top: 70px;
}

.space {
  margin-top: 60px;
}

/* Heart Animation */
.enclose {
  /* margin: 50px;
  padding: 50px; */
  display: flex;
  margin-top: 10rem;
  justify-content: center;
  /* min-height: 92vh; */
  background: white;
}

.heart {
  height: 100px;
  width: 100px;
  background: red;
  position: relative;
  transform: rotate(-45deg);
  box-shadow: -10px 10px 90px red;
  animation: heart 0.6s linear infinite;
}

@keyframes heart {
  0% {
    transform: rotate(-45deg) scale(1);
  }
  80% {
    transform: rotate(-45deg) scale(0.9);
  }
  100% {
    transform: rotate(-45deg) scale(0.8);
  }
}

.heart::before {
  content: "";
  position: absolute;
  height: 100px;
  width: 100px;
  background: red;
  top: -55%;
  border-radius: 50px;
  box-shadow: -5px 5px 45px red;
}

.heart::after {
  content: "";
  position: absolute;
  height: 100px;
  width: 100px;
  background: red;
  right: -55%;
  border-radius: 50px;
  box-shadow: -5px 5px 45px red;
}

.WelcomeImage {
  float: right;
  width: 130px;
  margin-bottom: 5rem;
  margin-right: 8rem;
  transition: transform 0.2s; /* Animation */
}

.WelcomeImage:hover {
  transform: scale(1.3);
}
.NavLink:hover {
  transform: scale(1.1);
}

.WelcomePara {
  width: 36rem;
}

.convert {
  display: inline-block;
}

.toflex {
  display: flex;
}

#icons img {
  transition: transform 0.2s; /* Animation */
}

#icons img:hover {
  transform: scale(1.2);
}

@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
.ColorGroup {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Righteous", cursive;
  min-height: 100vh;
  background-color: #a9c9ff;
  background-image: linear-gradient(180deg, #a9c9ff 0%, #ffbbec 100%);
}
.CustomContainer {
  max-width: 100vw;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 35px;
  margin: 0 auto;
  padding: 40px 0;
}
.CustomContainer .CustomCard {
  position: relative;
  width: 300px;
  height: 400px;
  margin: 0 auto;
  background: #000;
  border-radius: 15px;
  box-shadow: 0 15px 60px rgba(0, 0, 0, 0.5);
}
.CustomContainer .CustomCard .face {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.CustomContainer .CustomCard .face.face1 {
  box-sizing: border-box;
  padding: 20px;
}
.CustomContainer .CustomCard .face.face1 h2 {
  margin: 0;
  padding: 0;
}
.CustomContainer .CustomCard .face.face1 .java {
  background-color: #fffc00;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.CustomContainer .CustomCard .face.face1 .python {
  background-color: #00fffc;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.CustomContainer .CustomCard .face.face1 .cSharp {
  background-color: #fc00ff;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.CustomContainer .CustomCard .face.face2 {
  transition: 0.5s;
}
.CustomContainer .CustomCard .face.face2 h2 {
  margin: 0;
  padding: 0;
  font-size: 10em;
  color: #fff;
  transition: 0.5s;
  text-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  z-index: 10;
}
.CustomContainer .CustomCard:hover .face.face2 {
  height: 60px;
}
.CustomContainer .CustomCard:hover .face.face2 h2 {
  font-size: 2em;
}
.CustomContainer .CustomCard:nth-child(1) .face.face2 {
  background-image: linear-gradient(
    40deg,
    #fffc00 0%,
    #fc00ff 45%,
    #00fffc 100%
  );
  border-radius: 15px;
}
.CustomContainer .CustomCard:nth-child(2) .face.face2 {
  background-image: linear-gradient(
    40deg,
    #fc00ff 0%,
    #00fffc 45%,
    #fffc00 100%
  );
  border-radius: 15px;
}
.CustomContainer .CustomCard:nth-child(3) .face.face2 {
  background-image: linear-gradient(
    40deg,
    #00fffc 0%,
    #fc00ff 45%,
    #fffc00 100%
  );
  border-radius: 15px;
}
