<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>

    <link rel="stylesheet" href="age.css" />
  </head>
  <body>
    <div class="AgeGroup">
      <div class="Cards">
        <div class="Card Card1">
          <div class="Container">
            <img
              class="AgeImg"
              src="language-development-4-5-years.jpg"
              alt="Tobacco"
            />
          </div>
          <div class="Details">
            <h3>1.Age Below 18</h3>
            <p>
              As kids enter their teen years, they might lose interest in
              physical activity. Between school, homework, friends, and even
              part-time jobs, they're juggling a lot of interests and
              responsibilities. But regular physical activity can help your teen
              feel more energetic, improve focus and attention, and promote a
              better outlook. And regular physical activity can help your child
              maintain a healthy weight and prevent heart disease, diabetes, and
              other medical problems later in life. Fitness in the Teen Years
              Physical activity guidelines for teens recommend that they get 1
              hour or more of moderate to strong physical activity daily. In
              addition: Most of the physical activity should be aerobic, where
              they use large muscles and continue for a period of time. Examples
              of aerobic activity are running, swimming, and dancing. Any
              moderate to strong activity counts toward the 60-minute goal.
              Muscle-strengthening and bone-strengthening physical activity
              should be included at least 3 days a week. Teens can be active in
              sports and structured exercise programs that include muscle- and
              bone-strengthening activities. Weight training, under supervision
              of a qualified adult, can improve strength and help prevent sports
              injuries.
            </p>
          </div>
        </div>

        <div class="Card Card2">
          <div class="Container">
            <img class="AgeImg" src="1078578-smoke.webp" alt="vegfruit" />
          </div>
          <div class="Details">
            <h3>2.Age between 18-40</h3>
            <p>
              At least 150 minutes a week of moderate intensity activity such as
              brisk walking. At least 2 days a week of activities that
              strengthen muscles. Don't get addicted for smoking and alcohol
              Regular Exercise with balanced diet. Avoid having the junk food
              .The junk food available nowadays contain more fat and
              Cholestrol.Physical Activity Healthy Nutrition Getting Adequate
              Sleep Controlling Stress are the most important things which
              should be noted for the people between the ages of 18-40.Eating
              healthy is an important part of a healthy lifestyle and is
              something that should be taught at a young age. The following are
              some general guidelines for helping your adolescent eat healthy.
              It is important to discuss your adolescent's diet with his or her
              health care provider before making any dietary changes or placing
              your adolescent on a diet. Eat 3 meals a day, with healthy snacks.
              Increase fiber in the diet and decrease the use of salt. Drink
              water. Try to avoid drinks that are high in sugar. Fruit juice can
              have a lot of calories, so limit your adolescent's intake. Whole
              fruit is always a better choice. Eat balanced meals. When cooking
              for your adolescent, try to bake or broil instead of fry. Make
              sure your adolescent watches (and decreases, if necessary) his or
              her sugar intake. Eat fruit or vegetables for a snack. Decrease
              the use of butter and heavy gravies. Eat more chicken and fish.
              Limit red meat intake, and choose lean cuts when possible.
            </p>
          </div>
        </div>

        <div class="Card Card3">
          <div class="Container">
            <img
              class="AgeImg"
              src="flat-design-active-elderly-people-collection_23-2148650018.webp"
              alt="wholegrain"
            />
          </div>
          <div class="Details">
            <h3>3. Age above 40</h3>
            <p>
              Diet and exercise are the two most important changes you can make.
              Even if you've never been active, it's never too late to get
              started. A healthy diet and physical activity are good at any age.
              As you age, these healthy habits strengthen muscles and bones.
              Strong muscles and bones reduce serious injuries related to falls.
              When your muscles are strong, activities like getting up from a
              chair or opening a door are easier. When lifting weights, start
              with a 1-pound or 5-pound weight. If you don't have weights, use a
              can of soup, a book, or a full bottle of water. Keep your weights
              in the same room as your television. Do a few exercises while you
              watch. Add more fiber to your diet. Fiber reduces constipation;
              helps with weight loss; reduces the risk of diabetes,
              pre-diabetes, heart disease and colon cancer; and lowers your
              blood cholesterol level. Men over age 50 should get 30 grams of
              fiber per day; women over age 50 should get 21 grams per day. Good
              sources of fiber include beans, whole grains, vegetables, and
              fruit, Try the Mediterranean diet. This heart-healthy diet
              promotes foods such as fish, fruits, vegetables, beans, and whole
              grains. It does not include a lot of meat, dairy, or sweets. Drink
              more water. Water flushes out toxins. Staying hydrated will give
              you more energy. Eat more whole foods. This means eating food as
              close to its natural state as possible, like fresh fruits and
              vegetables and food that is the least processed possible, such as
              whole grains.
            </p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
