<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="chol.css">
    <title>Document</title>
</head>
<body>
    <div class="cards">
        <div class="card card1">
            <div class="container">
                <img src="beans_greens_for_high_cholesterol_732x549_thumb.webp" alt="lentils">
            </div>
            <div class="details">
                <h3>Lifestyle for the with Cholestrol Below 200</h3>
                <p>
                    You have two kinds of cholesterol in your body:

Low-density lipoprotein (LDL) is the unhealthy kind of cholesterol that clogs arteries. You want to keep your level below 100 mg/dL. <br>
High-density lipoprotein (HDL) is the healthy kind that helps to clear LDL cholesterol out of your arteries. You want to aim for a level of 60 mg/dL or higher. <br>

                    Beans and lentils
                    Fish, especially salmon
                    Olive oil
                    Avocados
                    Nuts and seeds, including chia and flax
                    Natural peanut butter or any nut butter
                    Whole grains, such as oatmeal, quinoa, brown rice or whole-wheat bread
                    Fruit, especially high-fiber fruits like berries, apples and pears
                    Vegetables, especially dark leafy greens and cruciferous vegetables like Brussels sprouts, broccoli and cauliflower
                    Sweet potatoes and winter squash</p>
            </div>
    
    
        </div>
    
        <div class="card card2">
            <div class="container">
                <img src="foods-that-lower-cholesterol-1296x728-feature.webp" alt="vegfruit">
            </div>
            <div class="details">
                <h3>Lifestyle for the people with Cholestrol in the range of 200-240</h3>
                <p>
                    Eat plenty of fresh fruits and vegetables.
                    Pick “good” fats over “bad” fats.
                    Limit the amount of saturated fat in your diet.
                    Use healthier cooking methods. 
                    Meats are a good source of protein. But they contain a lot of cholesterol and saturated fats. Fish, beans, tree nuts, peas, and lentils also offer protein, but without the cholesterol and fats. They also contain fiber and other nutrients. Consider eating one meatless meal each week. Try substituting beans for meat in a favorite recipe, such as lasagna or chili. Snack on a handful of almonds or pecans. Soy is also an excellent source of protein. Good examples of soy include soymilk, edamame (green soybeans), tofu, and soy protein shakes.
                    Get more fiber in your diet.
                </p>
            </div>
    
    
        </div>
    
        <div class="card card3">
            <div class="container">
                <img src="7-foods-that-people-with-high-cholesterol-must-avoid.png" alt="wholegrain">
            </div>
            <div class="details">
                <h3>Lifestyle for the High Cholestoral people</h3>
                <p>
                    1. Eat heart-healthy foods <br>
                    2. Exercise on most days of the week and increase your physical activity <br>
                    3. Quit smoking <br>
                    4. Lose weight <br>
                    5.Avoid drinking of the alcohol.
                    Full-fat dairy
Whole milk, butter and full-fat yogurt and cheese are high in saturated fat. Cheese also tends to be high in sodium, and most Americans get too much sodium, too.

Limit cheese to about 3 ounces per week, and choose part-skim cheese such as Swiss or mozzarella when cooking. Drink skim (non-fat), 1% or 2% milk to get your calcium intake. Look for non-fat or low-fat yogurt varieties. Use extra-virgin olive oil or avocado oil instead of butter.

Red meat
Steak, beef roast, ribs, pork chops and ground beef tend to have high saturated fat and cholesterol content.

Choose 90% lean ground beef, lean cuts of beef (such as sirloin, tenderloin, filet or flank steak, pork loin or tenderloin), and focus on lower-fat sources of animal protein, such as baked skinless or lean ground poultry.

Processed meat
You should limit processed meat in general because of its high sodium content and low nutrition. In fact, bacon, sausage and hot dogs are usually made from fatty cuts of beef or pork.

If you must eat processed meat, choose minimally processed sausage or deli meat made from lean turkey or chicken.</p>

Fried foods
French fries, fried chicken with skin and other foods cooked in a deep fryer have a high amount of saturated fat and cholesterol from the oil they’re cooked in.

A better choice is baked chicken or turkey without the skin, baked potatoes or baked “fries” tossed with a little olive oil.  Try using an air fryer for a lower-fat “fried” food taste.

Baked goods and sweets
Cookies, cakes and doughnuts usually contain butter or shortening, making them high in saturated fat and cholesterol.

They also tend to be full of sugar, which can lead to high levels of blood triglycerides, an unhealthy blood fat (lipid) that can be a risk factor for coronary heart disease.

Instead, make your desserts at home, choosing recipes that don’t need shortening or lots of butter. This also allows you to modify recipes and cut down the amount of sugar used, to half or three-quarters the recommended amount. You can also enjoy baked fruit as a dessert, or substitute applesauce for eggs or butter in your baking. 
    
                </p>
            </div>
    
    
        </div>
</body>
</html>